/**
 * @file
 * CSS for the vibrate module.
 */

.vibrate_popup_text {
  position: absolute;
  width: auto;
  background: #e8e8e8;
  border: 1px solid #dadada;
  font-family: sans-serif;
  padding: 5px 10px 20px 20px;
  z-index: 9999;
}
.vibrate_close {
  cursor: pointer;
  text-align: right;
}
